In [25]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\Vaishali Tomar\Desktop\Important_python_file\UP_2022.csv")
df.head()

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5

In [57]:
# group by sort and reset index
group_by=df[df["Party"] =="Bharatiya Janata Party"].groupby(["Party","Rank"]).aggregate({'ac_no':["count"]}).sort_values(by=['Rank'], ascending= True)

In [58]:
group_by

                            ac_no
                            count
Party                  Rank
Bharatiya Janata Party 1      255
                       2      115
                       3        5
                       4        1

In [59]:
group_by.columns.values

array([('ac_no', 'count')], dtype=object)

In [60]:
# multiindex into one index
group_by.columns = [ '_'.join(col) for col in group_by.columns.values]

In [61]:
group_by

                             ac_no_count
Party                  Rank
Bharatiya Janata Party 1             255
                       2             115
                       3               5
                       4               1

In [62]:
group_by.reset_index()

                    Party  Rank  ac_no_count
0  Bharatiya Janata Party     1          255
1  Bharatiya Janata Party     2          115
2  Bharatiya Janata Party     3            5
3  Bharatiya Janata Party     4            1

In [36]:
#nlargest and nsmallest
df.nlargest(n = 5,columns = ['Total Votes'])
df.nsmallest(n = 5,columns =['Total Votes'])

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
564,48,KANAK JAIN,Mihir Sena,49,0.02,13
2021,174,DHARMENDRA GUPTA,Voters Party International,63,0.03,14
2007,173,Naimish Pratap Narayan Singh,Rashtriya Rashtrawadi Party,64,0.02,15
1228,104,Omendra Singh,Independent,77,0.04,16
2472,214,GUDDI DIXIT,RASHTRIYA VIKLANG PARTY,77,0.05,8

In [39]:
# lambda function 
A = lambda x,y:x*y
A(2,3)

6

In [44]:
lis = [[1,2],[8,4],[6,1]]
lis.sort(key= lambda x : x[1])
lis

[[6, 1], [1, 2], [8, 4]]

In [49]:
def fun1(fun2,x):
    A = fun2(x)
    return A
def fun2(x):
    return x**2
print(fun1(fun2,3))
# using lambda
print(fun1(lambda x:x**2,3))

9
9

In [ ]:
# map_filter_reduce

In [61]:
# MAP
func1 = lambda X:X if (X%2==0) else np.nan
my_list = [1,2,3,4,5,6]

list(map(func1,my_list))

[nan, 2, nan, 4, nan, 6]

In [62]:
list(map(lambda X:X if (X%2==0) else np.nan,my_list))

[nan, 2, nan, 4, nan, 6]

In [63]:
A = [1,2,3]
B = [4,5,6]

list(map(lambda x,y:x+y,A,B))

[5, 7, 9]

In [63]:
# sum of even number betweenn 1 to 100 using filter 
list(filter(lambda x:x if (x%2 ==0) else False,range(1,11)))

[2, 4, 6, 8, 10]

In [64]:
# sum of even number betweenn 1 to 100 using map 
list(map(lambda x:x if (x%2 ==0) else 0,range(1,11)))

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10]